p {
	color: #0c7acf;
}

.image-container {
	height:100%;
}

.model-image {
	display: block;
}

.patientinfo {
	text-align: center;
	font-size: 25px;
}

.patients {
	margin-right: 8.333%;
	margin-left: 8.333%;
}