html {
	height:100%;
}

body {
	width: 100%;
	height:100%;
}

.bottom-buffer{
	margin-bottom: 4%;
}

.login-form, .create-account-form, .edit-account-form{
	margin-top: 4.166%;
}

#login_submit, #create_submit {
	color: white;
	font-weight: bold;
	background-color: #1875e2;
}

#cancel_create{
	color: white;
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
}

.success {
	color: green;
	font-weight: bold;
}

.navbar {
	margin-bottom: 0 !important;
}

.active{
	color: #fff;
  background-color: black;
  background: black;
}

.appbody {
	height: auto;
}

.add_patient_btn {
	margin-bottom: 4%;
}

#add_patient {
	background-color: #cbcccd;
}

input[type="date"]:before {
	content: attr(placeholder) !important;
	color: #aaa;
	margin-right: 0.5em;
}
input[type="date"]:focus:before,
	input[type="date"]:valid:before {
	content: "";
}

#panel-head {
	margin: 0;
}

.table-head-info{
	font-size: 2em;
	text-decoration: underline;
	font-weight: 4px;
}

table.patient-display {
}

.patients {
	cursor: pointer;
	cursor: hand;
}

.patient-display th{
	text-align: center;
}

.patient-display tbody tr {
	text-align: center;
	height: 80px;
}

.patient-list {
	margin-top: 4.166%;
	margin-right: 8.333%;
	margin-left: 8.333%;
}

.patientinfo {
	color: #0c7acf;
	text-align: center;
	font-size: 30px;
}

.remove_patient{
	font-size: 35px; 
}

.remove_patient_active{
	/*background-color: #f1f0ec;
	background-color: #ececec;*/
	color: #b1060b;
}

.modal {
   position: absolute;
   margin-top: 15%;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-header{
	background-color: #6ca8e4;
	color: white;
	font-weight: bold;
}

.image-container {
	height:100%;
}

.model-image {
	display: block;
}

.models-group{
	background-color: #667481;
	display: block;
	height: calc(100vh - 102px);
	overflow-y: auto;
}

.model-list-bar{
	padding: 0 !important;
	border-right: 1px solid;
	border-color: #13161a;
}

.model-list-header {
	text-align: center;
	background-color: #6ca8e4;
	color: white;
	height: 100%;
}

.model-list-header h1 {
	margin-top: 0 !important;
}


.model-admin-bar{
	padding: 0 !important;
	border-left: 1px solid;
	border-color: #13161a;
	height: calc(100vh - 52px);
}

.add-model-form{
	padding-left: 4%;
	padding-right: 4%;
}

#return-button{
	height: 8.33%;
	color: white;
	font-weight: bold;
	font-size: 2.5vh;
	background-color: #d43e52;
}

#upload-button{
	height: 8.33%;
	color: white;
	font-weight: bold;
	font-size: 2.5vh;
	background-color: #1875e2;
}

#InputFile{
	width: 100%;
}

#file_submit{
	color: white;
	font-weight: bold;
	background-color: #1875e2;
}