
<div class="model-screen">


	<div class="col-sm-3 model-list-bar pull-left">
		<div class="model-list-header nav-header disabled"> <h1>Models</h1> </div>
		<div class="models-group">
			<a data-ng-repeat="model_info in directive_info.models" href="{* model_info.fbx_url *}">
				<button type="button" class="list-group-item list-group-item-action model-panel">
				 <h4>{* model_info.filename *}</h4>
				 <small>Date Last Modified: {* model_info.lastmodified *}</small>
				</button>
			</a>
		</div>
	</div>


	<div class="model-admin-bar col-sm-2 pull-right">
		<button type="button" class="form-control" id="return-button" data-ng-click="directive_info.viewmodel = false; directive_info.patientid = -1"><span class="glyphicon glyphicon-arrow-left"></span> Return to Patients</button>

		<button type="button" class="form-control" id="upload-button" data-ng-click="add_model = !add_model"><span class=""></span> Return to Patients</button>

		<br>
		<br>

		<form action="{* $location + 'api/v1/model' *}" method=post enctype=multipart/form-data class=add-model-form ng-show="!add_model">
			<input type="hidden" name="username" value="{* directive_info.username *}">
			<input type="hidden" name="patientid" value="{* directive_info.patientid *}">
			
			<div class="form-group">
			  <label for="Description">Description:</label>
			  <textarea class="form-control" rows="4" placeholder="Description of Model"></textarea>
			</div>
			<div class="form-group">
		    <label for="InputFile">File input</label>
		    <input type="file" class="form-control-file" id="InputFile" aria-describedby="fileHelp">
		    <small id="fileHelp" class="form-text text-muted">Upload your .obj or .stl file for this patient.</small>
		  </div>
			<input type="submit" class="form-control" id="file_submit" type="submit" value="Upload">
		</form>
		
	</div>

</div>

<!--
	<h1 class="col-sm-offset-3"> Patient's Models </h1>

	<div id="top">
	</div>
	<div id="left">
		<div id="menu"></div>
	</div>

</div>

<div class="col-xs-8 image-container">
  <img class="pic-image" src="{{ url_for('static', filename='images/' + data.current + '.' + data.current_format) }}" />
</div>
-->
