
<div class="model-screen">

	<div class="col-sm-3 model-list-bar pull-left">
		<div class="model-list-header"> <h1>Models</h1> </div>
		<div class="models-list-group">
			<a data-ng-repeat="model_info in directive_info.models" href="{* model_info.fbx_url *}">
				<button type="button" class="list-group-item list-group-item-action model-panel">
				 <h4>{* model_info.name *}</h4>
				 <small>Last Modified: {* model_info.lastmodified | date:'EEE hh:mm a MMM d, y' *}</small>
				 <p class="description">Description: {* model_info.description | description*}</p>
				</button>
			</a>
		</div>
	</div>


	<div class="model-admin-bar col-sm-2 pull-right">
		<button type="button" class="btn form-control" id="return-button" data-ng-click="directive_info.viewmodel = false; directive_info.patientid = -1"><span class="glyphicon glyphicon-arrow-left"></span> Return to Patients</button>

		<button type="button" class="form-control" id="upload-button" data-ng-click="uploadToggle()"><span class="glyphicon glyphicon-upload"></span> Upload New Model </button>

		<br>

		<form enctype="multipart/form-data" class="add-model-form" id="add-model" data-ng-show="add_model" data-ng-submit="fileUpload()">
			<input type="hidden" name="username" value="{* directive_info.username *}">
			<input type="hidden" name="patientid" value="{* directive_info.patientid *}">

			<div class="form-group">
				<label for="Name">Name</label>
				<input type="text" class="form-control" name="name" placeholder="Name of Model" maxlength="100" data-ng-model="upload_name" required></input>
			</div>

			<div class="form-group">
				<label for="Description">Description</label>
				<textarea class="form-control" rows="4" name="description" placeholder="Description of Model" maxlength="1024" data-ng-model="upload_description" required></textarea>
			</div>

			<div class="form-group">
				<label for="InputFile">File input</label>
				<input type="file" class="form-control-file" id="InputFile" name="file" aria-describedby="fileHelp" file="file" required />
				<small id="fileHelp" class="form-text text-muted">Upload your .obj or .stl file for this patient.</small>
			</div>

			<div class="panel panel-info" data-ng-show="uploading">
				<div class="panel-heading"><div class="loader"> </div> Uploading Model</div>
			</div>

			<div class="panel panel-success" data-ng-show="success.length">
				<div class="panel-heading"><span class="glyphicon glyphicon-ok"></span> {*success*}</div>
			</div>

			<div class="panel panel-danger" data-ng-show="errors.length" data-ng-repeat="error in errors">
				<div class="panel-heading">{* error *}</div>
			</div>

			<input type="submit" class="form-control" id="file_submit" type="submit" value="Upload">
		</form>
		
	</div>


	<!-- For model info and picture cycling? -->
	<p>Where is this?</p>
	<div class="col-sm-6" syle="background-color: red; height: 100px">

	</div>

</div>
