
<div class="patient-list panel panel-info">
	
	<div class="panel-heading clearfix">
		<div class="pull-right">
			<button type="button" class="add-btn btn btn-primary btn-lg" data-ng-click="showAdd = !showAdd"><span class="glyphicon glyphicon-plus"></span> Add A Patient</button>
		</div>

		<h1 id="panel-head">Patients</h1>
	</div>

	<div data-ng-show="showAdd" id ="add_patient" class="panel-body">
		<form class="form-inline" name="add_patient">

			<div class="col-sm-3">
				<input name="form-name" class="form-control input-lg" type="text" placeholder="Firstname" data-ng-model="input_firstname" maxlength="40">
			</div>

			<div class="col-sm-3">
				<input name="form-name" class="form-control input-lg" type="text" placeholder="Lastname" data-ng-model="input_lastname" maxlength="40">
			</div>

			<div class="form-group col-sm-3">
				<!--
				<label for="datepicker" class="control-label">DOB: </label>
				-->
				<input type="date" id="datepicker" class="form-control input-lg" placeholder="Birth Date" data-ng-model="input_dob">
			</div>
			<!--
			<div class="col-sm-3">
				<input type="date" id="datepicker" class="form-control input-lg" placeholder="YYYY/MM/DD" data-ng-model="input_dob">
			</div>
			-->
			<button type="submit" class="btn-lg btn-success active pull-right" data-ng-click="showAdd = addnewpatient(input_firstname, input_lastname, input_dob)">Add New Patient</button>

		</form>
	</div>

	<table class="table patient-display">
		<thead class="table-head-info">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date of Birth</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="patient in directive_info.patients" ng-click="clickedpatient(patient.patientid)" class="patients align-middle">
				<td class="patientinfo align-middle"> {* patient.firstname *} </td>
				<td class="patientinfo"> {* patient.lastname *} </td>
				<td class="patientinfo"> {* patient.dob *} </td>
			</tr>
		</tbody>
	</table>

</div>
