<!-- Modal to Confirm Delete Patient-->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete Patient: {*directive_info.patients[delete_index].firstname*} {*directive_info.patients[delete_index].lastname*}</h4>
			</div>
			<div class="modal-body">
				<p>You will not be able to recover patient information once it is deleted. You will also lose access to the copies of their models.</p>
				<p>Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-ng-click="deletepatient(delete_index, delete_id)" data-dismiss="modal">Delete</button>
				<button type="button" class="btn btn-default" data-ng-click="clearDelete()" data-dismiss="modal">Cancel</button>
			</div>
		</div>

	</div>
</div>

<div class="patient-list panel panel-info">
	
	<div class="panel-heading clearfix">
		<div class="pull-right">
			<button type="button" class="add-btn btn btn-primary btn-lg" data-ng-click="showAdd = !showAdd; clearAddInput()"><span class="glyphicon glyphicon-plus"></span> Add A Patient </button>
		</div>
		<h1 id="panel-head">Patients</h1>
	</div>

	<div data-ng-show="showAdd" id ="add_patient" class="panel-body">
		<form class="form-inline" name="add_patient" data-ng-submit="addnewpatient(input_firstname, input_lastname, input_dob); showAdd = false;">

			<div class="col-sm-3">
				<input name="form-name" class="form-control input-lg" type="text" placeholder="Firstname" pattern=".{1,}" title="Need at least 1 letter" maxlength="40" data-ng-model="input_firstname" required>
			</div>

			<div class="col-sm-3">
				<input name="form-name" class="form-control input-lg" type="text" placeholder="Lastname" pattern=".{1,}" title="Need at least 1 letter maxlength="40" data-ng-model="input_lastname" required>
			</div>
			
			<div class="col-sm-3">
				<input type="date" id="datepicker" class="form-control input-lg" placeholder="Birth Date" data-ng-model="input_dob" required>
			</div>
			<button type="submit" class="btn-lg btn-success active pull-right">Add New Patient</button>

		</form>
	</div>

	<table class="table patient-display">
		<thead class="table-head-info">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date of Birth</th>
				<th><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></th>
			</tr>
		</thead>

		<tbody>
			<tr class="patients" data-ng-repeat="patient in directive_info.patients" data-ng-mouseenter="hover=true" data-ng-mouseleave="hover=false">
				<td class="patientinfo" data-ng-click="clickedpatient(patient.patientid)"> {* patient.firstname *} </td>
				<td class="patientinfo" data-ng-click="clickedpatient(patient.patientid)"> {* patient.lastname *} </td>
				<td class="patientinfo" data-ng-click="clickedpatient(patient.patientid)"> {* patient.dob *} </td>

				<td class="no-side-padding" data-toggle="modal" data-target="#myModal" data-ng-click="setDelete($index, patient.patientid)" data-ng-class="{remove_patient_active : in_close == true}" data-ng-mouseenter="in_close=true" data-ng-mouseleave="in_close=false"> 
					<span class="glyphicon glyphicon-remove remove_patient" data-ng-show="hover"></span>
				</td>
			</tr>
		</tbody>
	</table>

</div>
